<div>
<h1 class='bg-faded'>Hey there, <%= current_user.user_name.humanize %></h1>
<hr>
<header>
  <nav>
    <%= link_to "Last Viewed", histories_path %>
    <%= link_to "Edit Profile", users_edit_path %>
    <%= link_to "Back", decks_show_path %>
  </nav>
</header>
<div>
<%= render 'dropdown' %>
</div>
<center>
<div class="history-area">
<p class="history">
	<%= render 'dislikes' %>
	<%= render 'favs' %>
</p>	

</div>
</center>

