
  <nav>
    <%= link_to "Last Viewed", histories_path %> |
    <%= link_to "Edit Profile", users_edit_path %> |
    <%= link_to "Back", decks_show_path %>
  </nav>
<h1 class="profile-heading">Hey there, <%= current_user.user_name.humanize %></h1>
<center>
	<%= render 'dropdown' %>

<div class="history-area">
	<%= render 'dislikes' %>
</div>
<div class="history-area">
	<%= render 'favs' %>
</div>
</center>

