 <div class="history">

<h1 class="profile-heading">Hey there, <%= current_user.user_name.humanize %></h1>
  <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" href="#likes" role="tab" data-toggle="tab">Likes
    </a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="#dislikes" role="tab" data-toggle="tab">Dislikes
    </a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="#settings" role="tab" data-toggle="tab">Settings
    </a>
    </li>
  </ul>

  <div class="tab-content">
<div role="tabpanel" class="tab-pane fade in active" id="likes">
    	<%= render 'favs' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="dislikes">
    	<%= render 'dislikes' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
			    <%= link_to "Edit Profile", users_edit_path %> |
			    <%= link_to "Back to swiping", decks_show_path %>
    </div>
  </div>
</div>
