<% areas = Neighborhood.get_areas %>
<%= form_tag '/neighborhoods', method: 'put' do %>
  <dl class="dropdown" style="text-align: left">
    <dt>
      <a href="#">
        <span class="hide btn btn-primary dropdown-toggle mbtn">Neighborhood Filter</span>
      </a>
    </dt>
    <dd>
      <div class="multiSelect">
        <ul class="list-unstyled">
<% areas.each do |area| %>
          <li>
            <%= check_box_tag area.area, area.area %>
            <%= label_tag area.area, area.area %>
  <% neighborhoods = Neighborhood.get_neighborhood_by_area(area.area) %>
            <ul>
  <% neighborhoods.each do |neighborhood| %>
              <li>
              <% if current_user.neighborhoods.include?(neighborhood) %>
                <%= check_box_tag "neighborhood[]", neighborhood.id, {checked: true} %>
              <% else %>
                <%= check_box_tag "neighborhood[]", neighborhood.id %>
              <% end %>
                <%= label_tag neighborhood.id, neighborhood.name %>
              </li>
  <% end %>
            </ul>
          </li>
<% end %>
<li>    <%= button_tag "Choose Neighborhoods", class: 'btn btn-success mbtn' %></li>
        </ul>

      </div>
    </dd>
  </dl>
<% end %>
