<% areas = Neighborhood.get_areas %>
<%= form_tag '/neighborhoods', method: 'put' do %>
  <dl class="dropdown">
    <dt>
      <a href="#">
        <span class="hide btn btn-primary dropdown-toggle">Neighborhood Filter</span>
      </a>
    </dt>
    <dd>
      <div class="multiSelect">
        <ul>
<% areas.each do |area| %>
          <li>
            <%= check_box_tag area.area, area.area %>
            <%= label_tag area.area, area.area %>
  <% neighborhoods = Neighborhood.get_neighborhood_by_area(area.area) %>
            <ul>
  <% neighborhoods.each do |neighborhood| %>
              <li>
                <%= check_box_tag "neighborhood[]", neighborhood.id %>
                <%= label_tag neighborhood.id, neighborhood.name %>
              </li>
  <% end %>
            </ul>
          </li>
<% end %>
        </ul>
      </div>
    </dd>
    <%= button_tag "Choose Neighborhoods", class: 'btn btn-success' %>
  </dl>
<% end %>