<div class="table-image-background"><div class="overlay-thick"></div></div>
<div data-role="page" id="pageone" class="place-show">
  <center>
    <div id="swipe-card" class="card" style="max-width: 600px">
      <center>
        <%= link_to(image_tag(@last_food.url, id: "card-image", class: "card-img-top rounded img-fluid max-img-height"), decks_show_path) %>
            <h4 class="card-title" id="card-name">
              <%= @place.name %>
            </h4>
      </center>
        <p>Google Rating: <%= @place.rating %></p>
        <p>Neighborhoods:
        <% @place.neighborhoods.each do |neighborhood| %>
          <%= neighborhood.name %>
        <% end %>
        </p>
        <p>Address: <%= link_to @place_metadata[:address], @place_metadata[:map], target: :_blank %></p>
        <p>Phone: <%= @place_metadata[:phone] %></p>
        <p><%= link_to 'Restaurant Website', @place_metadata[:place_url], target: :_blank %></p>
        <center>
          <%= link_to('go back', decks_show_path, class: 'btn btn-primary') %>
        </center>
      </div>
    </center>
  </div>

<%= javascript_include_tag "card" %>
<%= javascript_include_tag "deck" %>
<%= javascript_include_tag "decks" %>
