<div class="table-image-background"><div class="overlay-thick"></div></div>
<div data-role="page" id="pageone" class="place-show">
  <center>
    <div id="swipe-card" class="card" style="max-width: 600px">
      <center>
        <%= link_to(image_tag(@last_food.url, id: "card-image", style: "card-img-top rounded img-fluid max-height-img"), decks_show_path) %>
            <h4 class="card-title" id="card-name">
              <%= @place.name %>
            </h4>
      </center>
            <p class="card-text">
            <p>Google Raiting: <%= @place.rating %><p>
            <p>Neighborhoods:
            <% @place.neighborhoods.each do |neighborhood| %>
              <%= neighborhood.name %>
              <% end %>
            </p>
            <p>Address: <%= link_to @place_metadata[:address], @place_metadata[:map] %></p>
            <p>Phone: <%= @place_metadata[:phone] %></p>
            <p><%= link_to @place_metadata[:place_url], @place_metadata[:place_url], target: :_blank %></p>
          <cetner>
          <%= link_to('go back', decks_show_path, class: 'btn btn-primary') %>
          </div>
        </center>
      </div>
    </center>
  </div>
</div>
<%= javascript_include_tag "card" %>
<%= javascript_include_tag "deck" %>
<%= javascript_include_tag "decks" %>
